body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 16px 0;
    border-bottom: 1px solid #212429; 
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu_options {
    color: #212429;
    font-size: 16px;
    text-align: center;
    padding: 0 16px;
    transition: color 0.3s ease;
}
.menu_options:hover{
    font-weight: bold;
}

h1 {
    padding: 32px;
    font-size: 32px;
    text-transform: uppercase;
}

.producto {
    width: 300px;
    margin: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.product_info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #212429;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #212429;
    color: #ffffff;
    padding: 32px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Aumentamos el espacio lateral */
    font-size: 16px;
    
}

.footer-section {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-content img {
    background-color: #ffffff;
    border: 5px solid #ffffff; /* Asegura que el borde sea visible */
    border-radius: 50%; /* Esto mantiene el estilo circular */
    padding: 8px;
    width: 40px;
    height: 40px;
    object-fit: cover; /* Cambia a 'cover' para que se ajuste mejor sin distorsionarse */
    overflow: visible;
    display: inline-block;
}

@media (max-width: 920px) {
    .menu-icon{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .menu_options {
        display: none;
    }
    .user-icon,
    .heart-icon, 
    .shopping-cart-icon{
        display: none;
    }

    .footer-content {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 0 16px; 
    }


    .footer-section {
        margin-bottom: 16px;
        border-bottom: #ffffff 1px solid;
        padding-bottom: 16px;
        width: 100%;
    }
}